header{
    padding: 20px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
main{
    padding: 20px;
    width: 100%;
    height: calc(100vh - 250px);
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer{
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer .foot-left,
footer .foot-right,
header .hea-left,
header .hea-right{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
footer .foot-right,
header .hea-right{
    justify-content: flex-end;
}



main #container-grid{
    width: calc((100vh - 250px) * 0.8);
    height: calc((100vh - 250px) * 0.8);
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid azure;
}

#container-grid .cell{
    background-color: lightsalmon;
    border: 2px solid azure;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    font-weight: bold;
}

#container-grid .cell-easy{
    width: calc(100% / 10);
    height: calc(100% / 10);
}
#container-grid .cell-medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}
#container-grid .cell-hard{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

#container-grid .cell-active{
    background-color: aqua;
}
#container-grid .cell-bomb{
    background-color: red;
    color: azure;
}


#select-difficulty{
    padding: 5px;
    width: 150px;
    margin: 0 10px;
}
#submit-start{
    padding: 5px 20px;
}

.alert-win{
    color: white;
    border: 5px solid white;
    background-color: red;
    border-radius: 10px;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'BaksoSapi';
}

.hea-left h1{
    margin-left: 20px;
}
.screen-maps{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.635);
}